attrs==21.2.0
behave==1.2.6
glob2==0.7
iniconfig==1.1.1
Mako==1.1.5
MarkupSafe==2.0.1
packaging==21.0
parse==1.19.0
parse-type==0.5.2
pluggy==1.0.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
pytest-bdd==4.1.0
selenium==3.141.0
six==1.16.0
toml==0.10.2
urllib3==1.26.7
